footer{
    background-color: $lightOrange;
    color: $fakeWhite;
    font-family: $font;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 15px;
    position: absolute;
    flex-wrap: wrap;
    min-width: 100%;
    a{
        color: $fakeWhite;
        text-decoration: underline;
    }
    p{
        margin: auto;
    }
    img, button {
        margin: auto;
    }
    button{
        background-color: $darkOrange;
        border-radius: 5px;
        border: 1px solid $darkOrange;
        width: 192px;
        height: 33.469px;
    }

}

@media (max-width: 900px) {
    footer{
        text-align: center;
        button, img, p {
            margin: 15px;
        }
    }
}