@import './sreachBar';

body {
    font-family: $font;
}

nav {
    background-color: $lightOrange;
    color: $fakeWhite;
    padding: 22px;
    font-size: 15px;
    min-height: 72px;
    
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 15px;

        li{
            flex-wrap: wrap;   
        }

        a{
            text-decoration: none;
            font-weight: 700;
            padding: 5px 64px 5px 64px;
            border-radius: 5px;
            &:hover{
                text-decoration: underline;
            }
            &:visited{
                color: $fakeWhite;
            }
        }

        .left-items, .right-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    #new-recipe-btn{
        background-color: $darkOrange;
        border-radius: 5px;
        border: solid 1px $darkOrange;
        padding: 6px 35px 6px 35px;
        font-size: 15px;
        &:hover{
            border: solid 1px $fakeWhite;
        }
        a {
            padding: 0px;
            font-weight: 700;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

#search-bar-smartphone {
    display: none;
}

@media screen and (max-width:1240px){
  .nav-links {
    display: none;
  }  
  header{
    justify-content: center;
    text-align: center;
  }
  #search-bar-smartphone{
    display: block;
    margin: 25px;
    filter:$shadow ;
  }
}