body {
    font-family: $font;
}

nav {
    background-color: $lightOrange;
    color: $fakeWhite;
    padding: 20px;
    font-size: 15px;
    
    #recipe-search {
        background-image: url('/src/assets/icons/magnifying\ glass.svg');
        background-size: 20px 20px;
        background-position: -15px center;
        background-repeat: no-repeat;
        border: none;
        padding: 7px 15px 10px 15px;
        border-radius: 20px;
        border-left: 30px solid transparent;
      }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li{
            flex-wrap: wrap;     
        }

        a{
            text-decoration: none;
            padding: 5px 25px 5px 25px;
            border-radius: 5px;
            &:hover{
                text-decoration: underline;
            }
            &:visited{
                color: $fakeWhite;
            }
        }

        .left-items, .right-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    #new-recipe-btn{
        background-color: $darkOrange;
        border-radius: 5px;
        border: solid $darkOrange;
        padding: 5px 25px 5px 25px;
        a {
            padding: 0px;
        }
    }
}
