@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


$typoColor : #1C1B19;
$lightOrange : #FF9F68;
$darkOrange : #FF7526;
$lightRed : #FF6F61;
$darkRed : #FF4533;
$fakeWhite : #F9F9F9;

$font : 'Inter', sans-serif;