@import './abstracts/_resetCSS.scss';
@import './abstracts/_variables.scss';
@import './base/_index.scss';
@import './base/about';
@import './components/_accordeon.scss';
@import './components/_footer.scss';
@import './components/_navbar.scss';
@import './base/_page404.scss';
@import './abstracts/_card-home.scss';

body {
    background-color: #F6F6F6;
    min-height: 100vh;
}


*{
    font-family: $font;
}