/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.top-about {
  background-color: white;
}

.about-content {
  display: flex;
  padding: 200px;
  justify-content: center;
  flex-wrap: wrap;
}
.about-content img {
  margin: auto 121px;
}
.about-content p, .about-content h1, .about-content h2 {
  margin-bottom: 25px;
  max-width: 400px;
  line-height: 24px;
}
.about-content h1, .about-content h2 {
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 900px) {
  .about-content {
    padding: 20%;
    text-align: center;
  }
  .about-content img {
    margin: auto 46px;
    width: 287px;
    height: 215px;
    flex-shrink: 0;
  }
  .about-content h1, .about-content h2, .about-content p {
    margin-top: 45px;
  }
}
footer {
  background-color: #FF9F68;
  color: #F9F9F9;
  font-family: "Inter", sans-serif;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 15px;
  position: absolute;
  flex-wrap: wrap;
  min-width: 100%;
}
footer a {
  color: #F9F9F9;
  text-decoration: underline;
}
footer p {
  margin: auto;
}
footer img, footer button {
  margin: auto;
}
footer button {
  background-color: #FF7526;
  border-radius: 5px;
  border: 1px solid #FF7526;
  width: 192px;
  height: 33.469px;
}

@media (max-width: 900px) {
  footer {
    text-align: center;
  }
  footer button, footer img, footer p {
    margin: 15px;
  }
}
#recipe-search {
  background-image: url("public/assets/icons/magnifying glass.svg");
  background-size: 20px 20px;
  background-position: -15px center;
  background-repeat: no-repeat;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  border-left: 30px solid transparent;
  display: block;
}

/* Navbar.scss */
.navbar {
  font-family: "Inter", sans-serif;
  background-color: #FF9F68;
  color: #F9F9F9;
  padding: 10px 0;
}
.navbar #new-recipe {
  background-color: #FF7526;
  border-radius: 5px;
  padding: 15px;
  border: solid 1px #FF7526;
}
.navbar #new-recipe:hover {
  background-color: #FF9F68;
}
.navbar #home-phone {
  display: none;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-brand a {
  color: #F9F9F9;
  text-decoration: none;
  font-size: 24px;
}
.navbar .navbar-toggler {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
}
.navbar .navbar-toggler span {
  width: 30px;
  height: 3px;
  background-color: #F9F9F9;
  margin: 4px 0;
}
.navbar .navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navbar .navbar-links li {
  margin: auto 15px;
}
.navbar .navbar-links a {
  text-decoration: none;
  color: #F9F9F9;
  font-size: 18px;
}
.navbar #logo {
  padding-left: 15px;
}
@media (max-width: 768px) {
  .navbar #search-bar-pc {
    display: none;
  }
  .navbar #home-phone {
    display: block;
  }
  .navbar #logo {
    display: none;
  }
  .navbar .navbar-brand {
    margin: auto;
  }
  .navbar .navbar-brand .navbar-toggler {
    display: flex;
  }
  .navbar .navbar-brand button {
    margin: auto;
  }
  .navbar .navbar-menu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #FF9F68;
    width: 100%;
    text-align: center;
    display: none;
    transition: all 0.3s ease;
  }
  .navbar .navbar-menu.active {
    display: flex;
  }
  .navbar .navbar-links {
    flex-direction: column;
    padding: 20px 0;
  }
  .navbar .navbar-links li {
    margin: 10px 0;
  }
}

#page-404 {
  text-align: center;
  justify-content: center;
  margin-top: 8em;
  margin-bottom: 20em;
}
#page-404 h1 {
  font-size: 12em;
}
#page-404 p {
  margin: 5px;
  font-size: 15px;
}
#page-404 button {
  background-color: #FF7526;
  border-radius: 5px;
  border: 1px solid #FF7526;
  width: 192px;
  height: 33.469px;
  margin: 15px;
}
#page-404 button a {
  color: #F9F9F9;
}
#page-404 button:hover {
  background-color: #FF9F68;
}

body {
  background-color: #F9F9F9;
  min-height: 100vh;
}

* {
  font-family: "Inter", sans-serif;
}/*# sourceMappingURL=style.css.map */